<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<module-name>raf-inversioncomercial-backend</module-name>
	<display-name>raf-inversioncomercial-backend</display-name>

    <session-config>
        <session-timeout>10</session-timeout>
    	<cookie-config>
        	<path>/</path>
    	</cookie-config>
    </session-config>

	<security-constraint>
		<display-name>Secure Zone</display-name>
		<web-resource-collection>
			<web-resource-name>Web</web-resource-name>
			<description>Protected</description>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
            <role-name>user</role-name>
        </auth-constraint>
	</security-constraint>
	 
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>Portal Security</realm-name>
	</login-config>
	
	<security-role>
		<description />
		<role-name>user</role-name>
	</security-role>
</web-app>