<html>
<head>
	<meta charset="utf-8">
    <title>Fluig</title>
    <link href="${SERVER_URL!''}/globalmailsender/resources/global.css" type="text/css" rel="stylesheet" />    
</head>
<body leftmargin="0" topmargin="0" marginheight="0" marginwidth="0">
    
    <div align="left">
        <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td>
						<img src="${SERVER_URL!''}/raf-customresources-web/img/seleccion.png">
					</td>					
                </tr>
            </tbody>
        </table>
    </div>
    <br />
	
	<div style="margin-left: 25px;">
		<p>${descripcion!}</p>
		<br/>
		<span style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif;"><br/></span>
			<br/>
			<table style="border: 1px solid #d5d2ca;font-family: Helvetica Neue,Helvetica,Arial,sans-serif;width: 710px;box-sizing: border-box;">
				<tbody>
					<tr>
						<td style="border: 1px solid #d5d2ca;background:#f5f5f1;font-size: 14px;text-align: left;vertical-align: text-top;width: 180px;padding: 0.5em;">Empresa </td>
						<td>${empresa!}</td>
					</tr>
					<tr>
						<td style="border: 1px solid #d5d2ca;background:#f5f5f1;font-size: 14px;text-align: left;vertical-align: text-top;width: 180px;padding: 0.5em;">Apellido y Nombre </td>
						<td>${apellidoYnombre!}</td>
					</tr>
					<tr>
						<td style="border: 1px solid #d5d2ca;background:#f5f5f1;font-size: 14px;text-align: left;vertical-align: text-top;width: 180px;padding: 0.5em;">CUIL </td>
						<td>${cuil!}</td>
					</tr>
					<tr>
						<td style="border: 1px solid #d5d2ca;background:#f5f5f1;font-size: 14px;text-align: left;vertical-align: text-top;width: 180px;padding: 0.5em;">Nacionalidad </td>
						<td>${nacionalidad!}</td>
					</tr>
					<tr>
						<td style="border: 1px solid #d5d2ca;background:#f5f5f1;font-size: 14px;text-align: left;vertical-align: text-top;width: 180px;padding: 0.5em;">Fecha de ingreso </td>
						<td>${fechaIngreso!}</td>
					</tr>
					<tr>
						<td style="border: 1px solid #d5d2ca;background:#f5f5f1;font-size: 14px;text-align: left;vertical-align: text-top;width: 180px;padding: 0.5em;">Modalidad de contratación </td>
						<td>${modalidadContratacion!}</td>
					</tr>
					<tr>
						<td style="border: 1px solid #d5d2ca;background:#f5f5f1;font-size: 14px;text-align: left;vertical-align: text-top;width: 180px;padding: 0.5em;">Convenio </td>
						<td>${convenio!}</td>
					</tr>
					<tr>
						<td style="border: 1px solid #d5d2ca;background:#f5f5f1;font-size: 14px;text-align: left;vertical-align: text-top;width: 180px;padding: 0.5em;">Fecha nacimiento </td>
						<td>${fechaNacimiento!}</td>
					</tr>
					<tr>
						<td style="border: 1px solid #d5d2ca;background:#f5f5f1;font-size: 14px;text-align: left;vertical-align: text-top;width: 180px;padding: 0.5em;">Gerencia </td>
						<td>${gerencia!}</td>
					</tr>
					<tr>
						<td style="border: 1px solid #d5d2ca;background:#f5f5f1;font-size: 14px;text-align: left;vertical-align: text-top;width: 180px;padding: 0.5em;">Sector / Nº Centro de Costo </td>
						<td>${sectorYCentroCosto!}</td>
					</tr>
					<tr>
						<td style="border: 1px solid #d5d2ca;background:#f5f5f1;font-size: 14px;text-align: left;vertical-align: text-top;width: 180px;padding: 0.5em;">Puesto </td>
						<td>${puesto!}</td>
					</tr>
					<tr>
						<td style="border: 1px solid #d5d2ca;background:#f5f5f1;font-size: 14px;text-align: left;vertical-align: text-top;width: 180px;padding: 0.5em;">Reporta a </td>
						<td>${reportaA!}</td>
					</tr>
					<tr>
						<td style="border: 1px solid #d5d2ca;background:#f5f5f1;font-size: 14px;text-align: left;vertical-align: text-top;width: 180px;padding: 0.5em;">Horario </td>
						<td>${horario!}</td>
					</tr>
					<tr>
						<td style="border: 1px solid #d5d2ca;background:#f5f5f1;font-size: 14px;text-align: left;vertical-align: text-top;width: 180px;padding: 0.5em;">Sede Administrativa </td>
						<td>${sedeAdministrativa!}</td>
					</tr>
					<tr>
						<td style="border: 1px solid #d5d2ca;background:#f5f5f1;font-size: 14px;text-align: left;vertical-align: text-top;width: 180px;padding: 0.5em;">Obra social ofrecida </td>
						<td>${obraSocialOfrecida!}</td>
					</tr>
					<tr>
						<td style="border: 1px solid #d5d2ca;background:#f5f5f1;font-size: 14px;text-align: left;vertical-align: text-top;width: 180px;padding: 0.5em;">Comedor </td>
						<td>${comedor!}</td>
					</tr>
					<tr>
						<td style="border: 1px solid #d5d2ca;background:#f5f5f1;font-size: 14px;text-align: left;vertical-align: text-top;width: 180px;padding: 0.5em;">Tarjeta de Acceso </td>
						<td>${tarjetaAcceso!}</td>
					</tr>
					<tr>
						<td style="border: 1px solid #d5d2ca;background:#f5f5f1;font-size: 14px;text-align: left;vertical-align: text-top;width: 180px;padding: 0.5em;">Tarjeta para cafetería </td>
						<td>${tarjetaCafeteria!}</td>
					</tr>
					<tr>
						<td style="border: 1px solid #d5d2ca;background:#f5f5f1;font-size: 14px;text-align: left;vertical-align: text-top;width: 180px;padding: 0.5em;">Inducción </td>
						<td>${induccion!}</td>
					</tr>					
				</tbody>
			</table>
		<br />
		
		<p style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif;"><u>Documentación:</u> ${entregaDocumentacion!} </p>

		<p style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif;">
			A continuación detallamos los referentes de los temas para su seguimiento y/o consultas:<br />
			- Alta de usuario PC, teléfono: Help Desk ${responsableAltaUsuario!}<br />
			Se requiere que antes del ingreso del nuevo colaborador <u>el superior se comunique con Help Desk</u> para verificar los datos, 
			corroborar los servicios solicitados y coordinar últimos detalles de la instalación.<br />
			- Tarjeta de Acceso: ${responsableTarjetaAcceso!}<br />
			- Tarjeta para cafetería: ${responsableTarjetaCafeteria!}<br />
			- Tarjetas Personales:  ${responsableTarjetasPersonales!}<br />
		</p>
			
		<p style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif;">
			Muchas gracias por sus gestiones.<br/>
			<b>Recursos Humanos</b>
		</p>
		
	</div>	
</body>
</html>
